body {
    background: #f5f5f5;
}

.App {
    width: 960px;
    margin: 0 auto;
    margin-top: 40px;
}

.tab-panel {
    padding-top: 40px;
    margin-top: 30px;
    text-align: center;
    min-height: 700px;
}

.top-margin {
    margin-top: 20px;
}

.table-wrap {
    margin: 0 20px;
}